// Remove shadow under navbar
.navbar {
  box-shadow: none;
}

// Full width Portfolio filter toolbar
.btn-toolbar .btn-group {
  flex: 1;
}

// Custom section spacing
.home-section {
  padding: 1.5rem 0;
}

.section-heading {
  margin-bottom: 3rem !important;
}

// Center CTA button
.cta-group {
  justify-content: center;
}

.article-metadata {
    margin-bottom: 15px;
    overflow: hidden;
    font-size: 14px;
    letter-spacing: .03em;
    display: none;
    color: rgba(0,0,0,.54);
}

.quizbox {
    background-color: #000;
    color: #fff;
    padding: 10px;
}

.quizbox-question {
width: 100%;
    padding: 10px;
    background-color: #fff;
    color: #0f0f00;
    margin-bottom: 10px;
}

h1 {
    font-size: 26px;
    margin-bottom: 18px;
    color: #1a1a1a;
}


.quizbox-question-c {
width: 100%;
    padding: 10px;
    background-color: #fff;
    color: #0f0f00;
    margin-bottom: 10px;
}

.quizbox-question-c:active{
    background-color: #4285f4;
}

.quizbox-question:active{
    background-color: #db4437;
}



